<h3>{{post}}</h3>

<p> {{post.title}}</p>
<p> {{post.content}}</p>
<p> {{post.create_date}}</p>
<p> {{post.draft}}</p>
<p> {{post.author}}</p>
<img src="{{post.image.url}}" alt="">

<hr>
<h3> Comments </h3>
<ul>
    {% for comment in post_comments %}
        <li>
            <h5> {{comment.user}} - {{comment.comment}} - {{comment.create_at}}</h5>

        </li>
    {% endfor %}
</ul>
    
<hr>
<h3> Add New Comment </h3>
<form method="POSt">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="add new comment">
</form>